/* unocss 使用实例 */
/* bg-[var(--el-bg-color)] */

/* 自定义 css 变量改变 element-plus 样式 */
html:root,
html.dark:root {
  --el-color-primary-light-3: rgba(var(--el-color-primary-rgb), 70%);
  --el-color-primary-light-5: rgba(var(--el-color-primary-rgb), 50%);
  --el-color-primary-light-7: rgba(var(--el-color-primary-rgb), 30%);
  --el-color-primary-light-8: rgba(var(--el-color-primary-rgb), 20%);
  --el-color-primary-light-9: rgba(var(--el-color-primary-rgb), 10%);
  --el-color-primary-dark-2: rgba(var(--el-color-primary-rgb), 50%);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* element-plus reset */
.el-aside, .el-main {
  padding: 0!important;
}

.el-scrollbar__view {
  display: flex;
}

.el-scrollbar__wrap {
  flex: 1;
  height: auto;
}

.el-scrollbar__bar {
  bottom: -6px;
}

.el-scrollbar__view {
  padding-top: 6px;
}


